.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 0;
  .element {
    justify-content: space-between;
    max-width: 375px;
    flex-direction: row;
    display: flex;
    text-align: left;
    padding-bottom: 50px;
    .text-element {
      padding: 0 10px;
      h3 {
        color: #222222;
        font-size: 22px;
        font-weight: 500;
        padding-bottom: 5px;
      }
    }
    img {
      align-content: flex-start;
      padding: 10px 10px;
    }
  }
}

@media (max-width: 320px) {
  .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .element {
      justify-content: space-between;
      max-width: 375px;
      flex-direction: row;
    }
  }
}

@media (max-width: 376px) {
  .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .element {
      justify-content: space-between;
      max-width: 375px;
      flex-direction: row;
    }
  }
}
