body {
  font-family: Lato, sans-serif; }

/*home*/
.home {
  background: url("../img/banner1.png") no-repeat;
  background-size: 100%; }

header {
  margin: auto;
  max-width: 1170px;
  display: flex;
  align-items: center; }

.logo {
  text-align: center;
  padding-top: 20px; }

.big-paragraph {
  font-size: 14px;
  font-weight: 300; }

.small-paragraph {
  font-size: 4px;
  font-weight: 400; }

.menu {
  margin-left: 630px; }

.menu nav li {
  display: inline-block; }
  .menu nav li a {
    padding-left: 20px;
    display: block;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none; }

.hero-area {
  max-width: 1170px;
  margin: auto;
  padding-top: 175px;
  padding-bottom: 410px; }
  .hero-area h1 {
    color: #4d4d4d;
    font-size: 90px;
    font-weight: 500;
    line-height: 67px; }
  .hero-area p {
    color: #4d4d4d;
    font-size: 22px;
    font-weight: 500;
    line-height: 67px; }
  .hero-area button {
    width: 160px;
    height: 50px;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 500; }

.button-standart {
  background-color: transparent;
  border: 1px solid #4d4d4d; }

.white-button {
  margin-right: 20px;
  box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #fff; }

/*about*/
/*for all title*/
.title-in-text {
  color: #4d4d4d;
  font-size: 46px;
  font-weight: 700;
  line-height: 49px;
  text-transform: uppercase; }

/*for all paragraph*/
.paragraph-in-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; }

.about {
  max-width: 1170px;
  margin: auto;
  display: flex;
  align-items: center; }
  .about h2 {
    width: 313px; }
  .about p {
    padding-top: 12px;
    width: 469px;
    color: #4d4d4d; }
  .about button {
    margin-top: 36px;
    width: 245px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #4d4d4d; }
  .about img {
    padding: 110px 0 125px 130px; }

/*service*/
.service-wrapper, .wrapper-funfact {
  max-width: 1170px;
  margin: auto;
  text-align: center; }

.service, .portfolio, .funfact {
  background-color: #f6f6f6; }

h2 {
  padding-top: 20px; }

p {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 500; }

.elements-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.first-string {
  display: flex;
  justify-content: center; }
  .first-string div {
    padding: 60px 115px 0 200px; }

.second-string {
  display: flex;
  justify-content: center; }
  .second-string div {
    padding: 80px 115px 110px 200px; }

/*my skills*/
.skill {
  max-width: 1170px;
  margin: auto;
  text-align: center; }
  .skill h2 {
    padding: 20px 0 60px 0; }
  .skill img {
    padding-bottom: 125px; }

/*portfolio*/
.portfolio-wrapper {
  max-width: 1170px;
  margin: auto;
  text-align: center; }

.portfolio img {
  padding: 15px; }

.portfolio button {
  background-color: white;
  border: 1px solid white;
  padding: 15px;
  margin-bottom: 125px;
  width: 190px;
  height: 50px; }

/*testimonials*/
.testominials {
  max-width: 1170px;
  margin: auto;
  text-align: center; }

.title {
  width: 955px;
  height: 349px;
  border: 1px solid #212121;
  margin-bottom: 120px; }
  .title img {
    padding: 80px 30px 110px 120px; }
  .title h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 49px;
    text-transform: uppercase; }
  .title span {
    font-size: 12px;
    font-style: italic;
    line-height: 49px;
    text-transform: uppercase; }
  .title p {
    width: 569px; }
  .title .info-about-tusi {
    display: flex;
    padding-bottom: 30px; }

.carusel {
  display: flex;
  justify-content: center; }

.square {
  margin: 0 5px;
  width: 13px;
  height: 13px;
  background-color: #212121; }

.square1 {
  width: 13px;
  height: 13px;
  border: 1px solid #212121; }

/*funfact*/
.funfact-elements {
  display: flex;
  justify-content: center; }
  .funfact-elements div {
    padding: 40px 115px 100px 100px; }

.funfact {
  margin-bottom: 155px; }

/*say hello*/
footer {
  background: url("../img/contact_bg.png");
  background-size: 100%; }

.contact {
  max-width: 1170px;
  margin: auto;
  text-align: center; }
  .contact h2 {
    color: #fff; }
  .contact input {
    height: 37px;
    margin: 70px 30px 30px 0; }
  .contact textarea {
    margin-bottom: 30px; }

.arrow-footer {
  margin-left: 10px; }

.footer-social {
  max-width: 1170px;
  margin: auto; }
  .footer-social p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 67px; }

.elements-footer {
  display: flex;
  justify-content: flex-start; }
  .elements-footer img {
    padding: 25px 10px 30px 0; }
  .elements-footer p {
    padding-left: 260px; }
