.container {
  margin: 0 auto;
  max-width: 1170px; }

.section-header {
  background: url("../img/header.png") no-repeat center;
  background-size: cover;
  min-height: 750px; }

.header {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: space-between; }

.menu {
  display: flex;
  align-items: center; }
  .menu__text {
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
    color: #e8e8e8; }

.hero {
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.hero__h1 {
  padding-top: 220px;
  font-size: 36px;
  font-weight: 700; }

.hero__paragraph {
  padding: 30px 0;
  max-width: 625px;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  text-align: center; }

.hero__btn {
  color: #e8e8e8;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid #f2f2f2; }

.hero__img-arrow {
  display: flex;
  justify-content: center;
  padding: 145px 0 0; }

.hero__vertical-line {
  border-left: 1px solid #f2f2f2;
  min-height: 100px; }

.section-service {
  background-color: #f5f5f5;
  color: #29323c;
  font-family: "Open-Sans", sans-serif; }

.service-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title__h2 {
  padding: 100px 0 0;
  text-align: center;
  font-size: 26px;
  font-weight: 800; }

.title__paragraph {
  padding: 15px 0 10px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

.title-underline {
  margin: auto;
  max-width: 40px;
  border: 1px solid #29323c;
  background-color: #29323c; }

.elements {
  padding-top: 60px;
  display: flex;
  justify-content: space-between; }

.elements__item {
  text-align: center; }

.item__h3 {
  padding: 40px 0 0;
  font-size: 16px;
  font-weight: 800; }

.item__paragraph {
  padding: 25px 0 100px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; }

.section-works {
  color: #29323c;
  font-family: "Open-Sans", sans-serif;
  margin: auto; }

.images {
  display: flex;
  flex-flow: row wrap;
  padding-top: 60px;
  margin: auto; }

.images__photo {
  width: calc(100%/5);
  height: 150px; }

.clients {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .clients__quote {
    padding: 60px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #2b3746; }
  .clients__qoutes {
    padding-top: 35px;
    color: #2b3746;
    font-family: "Montserrat", sans serif;
    font-size: 40px;
    font-weight: 700;
    font-style: italic; }
  .clients__img {
    padding: 35px 0 0; }
  .clients__name {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #29323c; }
  .clients__paragraph {
    padding-top: 5px;
    font-size: 13px;
    font-weight: 400;
    color: #29323c; }

.section-team {
  background: url("../img/team.png");
  background-size: cover;
  min-height: 900px; }

.title__inPage-color {
  color: #fff; }

.box {
  display: flex;
  justify-content: center; }

.box-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  background-color: #f2f2f2;
  opacity: 0.75; }
  .box-item__h3 {
    padding-top: 30px; }
  .box-item__paragraph {
    padding-top: 10px; }
  .box-item__logos {
    padding-top: 20px; }

.team-btn {
  padding-top: 70px;
  display: flex;
  justify-content: center; }
  .team-btn__links {
    text-decoration: none;
    padding: 15px 25px;
    color: #e8e8e8;
    font-family: "Montserrat", sans serif;
    font-size: 13px;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 25px; }
    .team-btn__links:hover {
      background-color: white;
      color: #000; }

.brand {
  background-color: #f5f5f5;
  background-size: cover; }

.brand-elements {
  padding: 45px 0 45px 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px; }
  .table__item {
    max-width: 385px;
    border: 1px solid #dddddd; }

.table-text {
  text-align: center;
  padding-top: 30px;
  color: #485563;
  font-family: "Montserrat", sans serif;
  border-bottom: 1px solid #dddddd; }

.text__h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px; }

.text__h2 {
  padding-top: 23px;
  font-size: 45px;
  font-weight: 400;
  line-height: 9px; }

.text__paragraph {
  padding-top: 25px;
  padding-bottom: 30px;
  opacity: 0.8;
  color: #29323c;
  font-family: "Open-Sans", sans-serif;
  font-size: 14px;
  font-weight: 300; }

.item__fclts {
  text-align: center;
  padding: 80px 75px 0 75px;
  color: #29323c;
  font-family: "Open-Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px; }

.table_btn {
  padding-bottom: 35px;
  display: flex;
  justify-content: center; }
  .table_btn .btn__links {
    padding: 15px 34px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #e8e8e8;
    border-radius: 25px;
    border: 2px solid #485563;
    background-color: #485563; }

.contact {
  display: flex; }

.formBox {
  background: url("../img/bcgFormBox.png") no-repeat;
  min-height: 450px; }

.formBox-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 130px; }

.form-element__text {
  padding-right: 50px;
  color: #f6f6f6;
  font-size: 14px;
  font-weight: 400;
  text-align: left; }

.elementsForm {
  text-align: center; }

.formBox__element {
  padding-bottom: 20px; }

.form-element__input {
  border: 1px solid #f2f2f2;
  opacity: 0.7;
  background-color: transparent;
  border-radius: 2px;
  min-height: 45px;
  min-width: 300px;
  text-align: left; }

.form-element__message {
  min-height: 150px; }

.form-element__submit {
  display: flex;
  justify-content: flex-end;
  padding: 15px 35px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  opacity: 0.7;
  color: #e8e8e8;
  font-size: 13px; }
