.contact {
  display: flex;
  //flex-flow: row wrap;

}

.formBox {
  background: url("../img/bcgFormBox.png") no-repeat;
  min-height: 450px;
}

.formBox-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 130px;
}

.form-element__text {
  padding-right: 50px;
  color: #f6f6f6;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.elementsForm {
  text-align: center;
}

.formBox__element {
  padding-bottom: 20px;
}

.form-element__input {
  border: 1px solid #f2f2f2;
  opacity: 0.7;
  background-color: transparent;
  border-radius: 2px;
  min-height: 45px;
  min-width: 300px;
  text-align: left;
}

.form-element__message {
  min-height: 150px;
}

.form-element__submit {
  display: flex;
  justify-content: flex-end;
  padding: 15px 35px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  opacity: 0.7;
  color: #e8e8e8;
  font-size: 13px;
}