.section-service{
  background-color: #f5f5f5;
  color: #29323c;
  font-family: $font-openSans;
}

.service-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__h2{
  padding: 100px 0 0;
  text-align: center;
  font-size: 26px;
  font-weight: 800;
}

.title__paragraph{
  padding: 15px 0 10px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.title-underline{
  margin: auto;
  max-width: 40px;
  border: 1px solid #29323c;
  background-color: #29323c;
}

.elements{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.elements__item{
  text-align: center;
}

.item__h3{
  padding: 40px 0 0;
  font-size: 16px;
  font-weight: 800;
}

.item__paragraph{
  padding: 25px 0 100px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}





