.todo_list{
    background: url("../8.png") no-repeat center;
    background-size: cover;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-align: center;
    padding: 30px 0 700px 0;
}

form {
    outline: 0;
    height: 36px;
    margin-top: 5%;
    border: 3px solid #3b3b3b;
}

.remove{
    display: flex;
    justify-content: flex-end;
}

.list__todo{
    text-align: left;
}

.add-items{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

input[type="checkbox"] {
    width: 20px;
}

.remove {
    float: right;
    cursor: pointer;
    font-size: 35px;
}

button{
    padding: 5px 15px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
}

button:hover{
    background-color: azure;
    transition: 0.3s;
}

input{
    margin: 0 10px;
    padding: 0 10px;
    min-height: 30px;
    opacity: 0.7;
}

.loadMoreButton{
    margin-top: 30px;
    margin-bottom: 20px;
}

.paragaph_button{
    padding-bottom: 10px;
}
