.testimonials-media{
  font-size: 48px;
}

.testimonials{
padding: 80px 10px 10px;
text-align: center;
background: #4b3b4e url("../img/testominals.png") no-repeat center;
background-size: cover;
  p{
    color: #d4d4d4;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  h2{
    color: #d4d4d4;
    //font-size: 48px;
    font-weight: 700;
  }
  .line{
     margin: 0 auto 50px;
     max-width: 80%;
     border-bottom: 3px solid #655968;
   }
}


