.six-section{
  background-color: #f5f6f7;
}

.content-six{
  text-align: center;
}

.buttons{
  padding-top: 50px;
  padding-bottom: 135px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button1{
  padding-left: 30px;
  display: flex;
  flex-direction: row;
}

.btn{
  width: 240px;
  height: 56px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px 0 0 3px;
  background-color: #1abc9c;
  border-color: #1abc9c;
  &:hover{
    background-color: blue;
    transition: 0.7s;
  }
}

.six-h2{
  padding-top: 90px;
  color: #373737;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.six-paragraph{
  padding-top: 15px;
  color: #373737;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
}

@media(max-width: 625px) {
.button1{
  padding-top: 10px;
}
}